@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@100;400;500&display=swap");
@font-face {
  font-family: "MyriadPro";
  src: url("fonts/MyriadPro-Cond.eot");
  src: local("☺"), url("fonts/MyriadPro-Cond.woff") format("woff"), url("fonts/MyriadPro-Cond.ttf") format("truetype"), url("fonts/MyriadPro-Cond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/FontAwesome.eot");
  src: local("☺"), url("fonts/FontAwesome.woff") format("woff"), url("fonts/FontAwesome.ttf") format("truetype"), url("fonts/FontAwesome.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 10;
}

.full {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*.full img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    }*/
header {
  font-family: Roboto;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
}

.headertop {
  background-color: #303030;
  min-height: 45px;
}
.headertop__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headertop__contakts {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #d3d2d2;
  display: flex;
}
.headertop__emale {
  margin-left: 35px;
}
.headerbottom {
  min-height: 92px;
}
.headerbottom__container {
  display: flex;
  justify-content: space-between;
}
.headerbottom__logo {
  display: block;
  margin: 38px 0 0 5px;
  font-size: 30px;
  line-height: 18px;
  font-weight: 500;
}
.headerbottom__logo span {
  display: inline-block;
  transition: 100ms;
}
.headerbottom__logo span:hover {
  transform: scale(1.5);
}
.headerbottom__logo .one-p {
  color: #ffc222;
  display: inline-block;
}
.headerbottom__logo .two-p {
  display: inline-block;
  font-weight: 100;
  color: #ffffff;
}
.headerbottom__logo .two-p .span-1 {
  animation: pb 0ms forwards 1s;
}
.headerbottom__logo .two-p .span-2 {
  animation: pb 0ms forwards 1.25s;
}
.headerbottom__logo .two-p .span-3 {
  animation: pb 0ms forwards 1.5s;
}
.headerbottom__logo .two-p .span-4 {
  animation: pb 0ms forwards 1.75s;
}
@keyframes pb {
  100% {
    color: #212020;
  }
}
.headerbottom__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
.headerbottom__nav-items {
  padding: 0 12px;
  min-height: 36px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 200ms linear;
}
.headerbottom__nav-items:hover {
  box-shadow: 0px 0px 1px 1px #ffc222;
}
.headerbottom__item1 {
  margin-right: 24px;
}
.headerbottom__item2 {
  margin-right: 18px;
}
.headerbottom__item3 {
  margin-right: 18px;
}
.headerbottom__item4 {
  margin-right: -8px;
}

.tel {
  color: #d3d2d2;
  background-image: url(../img/main/trubochka.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 20px;
  width: 153px;
  transition: 300ms;
}
.tel:hover {
  color: #ffffff;
}

.emale {
  color: #d3d2d2;
  background-image: url(../img/main/konvert.svg);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0px 7px;
  padding-left: 20px;
  width: 168px;
  transition: 300ms;
}
.emale:hover {
  color: #ffffff;
}

.becpl-Consul {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #1b1b1b;
  width: 262px;
  min-height: 45px;
  background-color: #ffc222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s linear;
}
.becpl-Consul:hover {
  font-size: 15px;
}
.becpl-Consul span {
  background-image: url(../img/main/portfel.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 3px 9px;
  padding-left: 28px;
}

footer {
  height: 43px;
  background-color: #303030;
  font-family: Roboto;
  width: 100%;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__prava {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.two {
  min-height: 497px;
  position: relative;
  padding-top: 137px;
}
.two__fon-zagolovok2 {
  display: none;
}
.two__fon-zagolovok3 {
  display: none;
}
.two__container {
  position: relative;
  z-index: 7;
  display: flex;
  justify-content: space-between;
}
.two__button-left {
  transform: scale(-1);
  margin: 6px 0px 0px 0px;
}
.two__button-center {
  margin: 46px 0px 0px 0px;
}
.two__button-right {
  margin: 6px 0px 0px 0px;
}

.zagolovok__fon-image {
  position: absolute;
  width: 100%;
  height: 497px;
  top: 106px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.44);
  display: block;
}
.zagolovok__fon-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.zagolovok__container {
  padding: 123px 0 0 10px;
  text-align: center;
  position: relative;
  z-index: 5;
}
.zagolovok__title {
  font-family: Roboto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.zagolovok__text {
  font-family: PT Serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #d3d2d2;
  margin: 17px 0 0 0px;
}

.button-slide {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  background-image: url(../img/main/strelka-bel.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 300ms linear;
}
.button-slide:hover {
  background-color: #ffc222;
}

.so-strelkoy {
  display: flex;
  justify-content: space-between;
  width: 179px;
  height: 40px;
  border: 1px solid #ffc222;
  border-right: none;
  transition: 0.5s;
}
.so-strelkoy:hover {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.so-strelkoy__span {
  display: block;
  margin: 7px 0px 0px 0px;
  width: 162px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.so-strelkoy__strelka {
  width: 21px;
  height: 40px;
  background-color: #ffc222;
  display: block;
  background-image: url(../img/main/strelka-bel.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

.three {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 120px;
  height: 608px;
}
.three__top-container {
  display: flex;
  justify-content: space-between;
}
.three__top-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #212020;
  margin: 57px 0px 0px 0px;
  display: flex;
  align-items: center;
}
.three__top-title span {
  padding: 1px 0px 0px 42px;
}
.three__top-title-span {
  display: block;
  width: 106px;
  height: 2px;
  background-color: #fcc222;
  margin-left: -10px;
}
.three__top-text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  margin: 12px 0px 0px 140px;
}
.three__top-vse-usluge {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #373636;
  border: 3px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 40px;
  margin: 87px 40px 0px 0px;
}
.three__bottom {
  padding-bottom: 62px;
}
.three__bottom-container {
  display: flex;
  justify-content: space-between;
}
.three__bottom-columns-1 .columns__bottom {
  margin: 85px 0px 0px 0px;
}
.three__bottom-columns-1 .columns__zakazat {
  margin-left: 65px;
}
.three__bottom-columns-2 .columns__podrobnee {
  margin: -16px 77px 0px 0px;
}
.three__bottom-columns-2 .columns__zakazat {
  margin-top: -16px;
}
.three__bottom-columns-3 .columns__icon {
  margin: 10px 0px 0px 0px;
}
.three__bottom-columns-3 .columns__podrobnee {
  margin: 5px 54px 0px 0px;
}

.columns {
  padding: 24px 30px 39px 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  flex-direction: column;
  align-items: center;
  margin-top: 67px;
  width: 32%;
  height: 363px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24px 3px rgba(91, 88, 88, 0.14);
}
.columns__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 18px 0px 0px 0px;
}
.columns__text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  text-align: center;
  width: 285px;
  margin: 20px 0px 0px 0px;
}
.columns__bottom {
  display: flex;
  align-items: center;
  margin: 70px 0px 0px 0px;
}
.columns__podrobnee {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  color: #050505;
}
.columns__zakazat {
  transition: 700ms;
}
.columns__zakazat:hover {
  transform: translate(20px, 0px);
}

.zakazat {
  width: 145px;
  height: 37%;
  @include flexbox();
  justify-content: space-between;
  border: 2px solid #ffc222;
  border-right: none;
}
.zakazat__text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #373636;
  text-align: center;
  width: 125px;
  margin: 10px 0px 0px 0px;
}
.zakazat__strelka {
  width: 21px;
  height: 38px;
  background-color: #ffc222;
  display: block;
  background-image: url(../img/main/strelka-bel.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

.four {
  font-family: Roboto;
  position: relative;
  height: 300px;
}
.four__image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.four__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  padding: 37px 0 0 15px;
}
.four__text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #d3d2d2;
  padding: 26px 0 0 15px;
}
.four__uznat-bolshe {
  margin: 32px 0 0 16px;
}

.so-strelkoy__span {
  margin-left: 30px;
}
.so-strelkoy__strelka {
  height: 38px;
}

.five {
  font-family: Roboto;
  width: 100%;
  height: 515px;
}
.five__container {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}
.five__title {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #212020;
  position: relative;
  padding-left: 135px;
}
.five__title::before {
  content: "";
  width: 106px;
  height: 2px;
  background-color: #ffc222;
  position: absolute;
  top: 10px;
  left: 0;
}
.five__text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  margin: 17px 0 0 0;
  padding-left: 135px;
}
.five__bottom {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
}
.five__girle {
  position: absolute;
  top: 55px;
  right: -16px;
}

.form {
  display: flex;
}
.form input {
  width: 264px;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 0px 0px 5px;
}
.form__title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  color: #282828;
  margin: 3px 0px 0px 0px;
}
.form__right {
  margin-left: 28px;
}
.form__message {
  width: 557px;
  height: 198px;
  border: 1px solid #e6e6e6;
  padding: 3px 3px 3px 3px;
  resize: none;
}
.form__submit {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 211px;
  height: 40px;
  margin: 34px 0px 0px 346px;
  border: 2px solid #ffc222;
}
.form__submit-span {
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #282828;
  margin-left: 15px;
  background-color: #ffffff;
}
.form__submit-strelka {
  display: block;
  width: 21px;
  height: 38px;
  background-color: #ffc222;
  background-image: url(../img/main/strelka-bel.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

.six {
  font-family: Roboto;
  position: relative;
  height: 287px;
  width: 100%;
}
.six__image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.six__container {
  display: flex;
  justify-content: space-between;
}
.six__column-2 .six__title {
  width: 300px;
}
.six__column-2 .six__galochka {
  margin-top: 25px;
}
.six__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.six__galochka {
  width: 40px;
  height: 40px;
  border: 2px solid #ffc222;
  background-image: url(../img/six/galochk.svg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: center;
}
.six__title {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 28px;
  text-align: center;
  width: 309px;
}
.six__text {
  font-family: PTSerif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #d3d2d2;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
}

.seven {
  font-family: Roboto;
  height: 655px;
  width: 100%;
  background-color: #f9f9f9;
}
.seven__container {
  display: flex;
  justify-content: space-between;
  padding: 66px 0px 0px 0px;
}
.seven__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #212020;
  position: relative;
  padding-left: 135px;
}
.seven__title::before {
  content: "";
  width: 106px;
  height: 2px;
  background-color: #ffc222;
  position: absolute;
  top: 10px;
  left: 0;
}
.seven__text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  margin: 20px 0px 0px 135px;
}
.seven__column-1 {
  padding: 0px 0px 47px 71px;
  margin: 47px 0px 0px 0px;
}
.seven__slide {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}
.seven__vse-usluge {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #373636;
  width: 223px;
  height: 40px;
  border: 3px solid #e6e6e6;
  margin: 50px 0 0 332px;
}
.seven__right-columns {
  display: flex;
}
.seven__column-2 {
  padding-right: 31px;
}
.column-1 {
  width: 554px;
  height: 341px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 1px rgba(128, 126, 126, 0.12);
}
.column-1__zakladka {
  width: 65px;
  height: 31px;
  background-color: #ffc222;
  margin: 0px 0px 0px -4px;
  background-image: url(../img/seven/kavechke.svg);
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: center;
}
.column-1__title {
  font-family: MyriadPro;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #242424;
  margin: 25px 0px 0px 0px;
}
.column-1__text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  margin: 14px 0px 0px 0px;
}
.column-1__derector {
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.035em;
  color: #212020;
  margin: 34px 0px 0px 0px;
}

.seven-slide {
  display: flex;
}
.seven-slide__left {
  border: 1px solid #dadada;
  transform: scale(-1);
  margin-right: 18px;
  background-image: url(../img/main/strelka.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}
.seven-slide__right {
  border: 1px solid #dadada;
  background-image: url(../img/main/strelka.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

.columns-right {
  position: relative;
  margin: 54px 0px 0px 0px;
}
.columns-right__zaklagka {
  width: 47px;
  height: 54px;
  background-color: #ffc222;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 26px 0px 0px 5px;
}
.columns-right__zaklagka span {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #f9f9f9;
}
.columns-right__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #242424;
  margin: 20px 0px 0px 0px;
}
.columns-right__text {
  font-family: PT Serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #5e5e5e;
  margin: 17px 0px 0px 0px;
}

.eight {
  font-family: Roboto;
  height: 339px;
  width: 100%;
  background-color: #595959;
}
.eight__container {
  display: flex;
  justify-content: space-between;
  padding: 23px 0px 37px 0px;
}
.eight__title {
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.eight__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d3d2d2;
  margin: 8px 0px 0px 0px;
}
.eight__becpl-Consul {
  margin: 24px 0px 0px 0px;
}
.eight__contacts {
  margin: 25px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.eight__tel {
  display: inline-block;
  margin: 15px 0px 0px 3px;
  width: 190px;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 31px;
}
.eight__emale {
  display: inline-block;
  margin: 11px 0px 0px 0px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 33px;
}
.eight__adres {
  margin: 12px 0px 0px 1px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 33px;
  color: #d3d2d2;
}
.eight__adres:hover {
  color: #ffffff;
}
.eight__right {
  margin: 27px 0px 0px 0px;
}

.adres {
  background-image: url(../img/main/ukazatel.svg);
}

@media (max-width: 1200px) {
  .two__button-left {
    margin-top: 40px;
  }
  .two__button-center {
    margin-top: 70px;
  }
  .two__button-right {
    margin-top: 40px;
  }

  .zagolovok__fon-image img {
    width: 150%;
    height: 100%;
  }

  .container {
    max-width: 768px;
  }

  .columns {
    padding: 24px 6px 39px 6px;
    width: 31.578%;
  }
  .columns__title {
    font-size: 16px;
  }
  .columns__text {
    font-size: 13px;
    margin: 5px 0px 0px 0px;
    max-width: 220px;
  }
  .columns__bottom {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0 0px;
  }

  .three__bottom-columns-1 .columns__zakazat {
    margin: 29px 0 0 0px;
  }
  .three__bottom-columns-1 .columns__podrobnee {
    margin: -46px 0px 0px 0px;
  }

  .three__bottom-columns-2 .columns__zakazat {
    margin: 0px 0 0 0px;
  }
  .three__bottom-columns-2 .columns__podrobnee {
    margin: 20px 0px 30px 0px;
  }

  .three__bottom-columns-3 .columns__icon {
    margin: 10px 0px 0px 0px;
  }
  .three__bottom-columns-3 .columns__podrobnee {
    margin: 20px 0px 30px 0px;
  }

  .form__message {
    width: 232px;
    height: 198px;
  }
  .form__submit {
    margin: 36px 0px 0px 10px;
  }

  .seven {
    font-family: Roboto;
    height: 1000px;
    width: 100%;
    background-color: #f9f9f9;
  }
  .seven__container {
    display: flex;
    flex-direction: column;
    padding: 66px 0px 32px 0px;
  }
  .seven__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #212020;
    position: relative;
    padding-left: 135px;
  }
  .seven__title::before {
    content: "";
    width: 106px;
    height: 2px;
    background-color: #ffc222;
    position: absolute;
    top: 10px;
    left: 0;
  }
  .seven__text {
    font-family: PT Serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #5e5e5e;
    margin: 20px 0px 0px 135px;
  }
  .seven__column-1 {
    padding: 0px 0px 47px 71px;
    margin: 47px 0px 0px 110px;
  }
  .seven__slide {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    position: absolute;
    bottom: 390px;
    right: 330px;
  }
  .seven__vse-usluge {
    width: 203px;
    background-color: #f9f9f9;
    position: absolute;
    top: 17px;
    right: 0px;
  }
  .seven__right-columns {
    display: flex;
  }
  .seven__column-2 {
    padding-right: 10px;
  }

  .columns-right {
    position: relative;
    margin: 54px 0px 0px 80px;
  }

  .map {
    width: 380px;
  }

  .six__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .six__galochka {
    margin-top: 10px;
  }
  .six__title {
    font-size: 14px;
    margin-top: 20px;
    width: 244px;
  }
  .six__text {
    font-size: 13px;
    margin-top: 0px;
    text-align: center;
    line-height: 18px;
    width: 220px;
  }
  .six__column-2 {
    margin-left: 5px;
  }

  .eight__contacts {
    margin: 10px 0px 0px 0px;
  }
}
@media (max-width: 900px) {
  .container {
    width: 318px;
  }

  .headertop__contakts {
    font-size: 10px;
    display: flex;
    margin-top: 8px;
  }
  .headertop__tel {
    margin-left: 20px;
  }
  .headertop__emale {
    margin: 0px;
  }
  .headertop__becpl-Consul {
    display: none;
  }

  .headerbottom {
    height: 62px;
  }
  .headerbottom__logo {
    margin: 37px 0 0 5px;
  }
  .headerbottom__nav {
    display: none;
  }

  .two {
    height: 430px;
  }
  .two__button-left {
    margin: 40px 0px 0px 15px;
  }
  .two__button-center {
    margin: 40px 0px 0px 0px;
  }
  .two__button-right {
    margin: 40px 15px 0px 0px;
  }

  .zagolovok__fon-image {
    overflow: hidden;
    height: 430px;
  }
  .zagolovok__fon-image img {
    width: 150%;
    height: 100%;
  }
  .zagolovok__container {
    padding: 23px 0 0 10px;
  }

  .three {
    height: 1310px;
    margin-top: 37px;
  }
  .three__top-container {
    justify-content: space-between;
  }
  .three__top-title {
    margin-top: 40px;
  }
  .three__top-title span {
    padding: 0px 0px 0px 85px;
  }
  .three__top-title-span {
    display: none;
  }
  .three__top-text {
    margin: 10px 10px 0px 10px;
    text-align: center;
  }
  .three__top-vse-usluge {
    position: absolute;
    top: 110px;
    left: 45px;
  }
  .three__bottom {
    padding-bottom: 10px;
  }
  .three__bottom-container {
    flex-direction: column;
    align-items: center;
  }
  .three__bottom-columns-1 .columns__podrobnee {
    margin-top: -63px;
  }
  .three__bottom-columns-2 {
    margin-top: 10px;
  }
  .three__bottom-columns-3 {
    margin-top: 10px;
  }

  .columns {
    width: 290px;
    height: 350px;
  }

  .three__bottom-columns-1 {
    height: 330px;
  }

  .four {
    height: 400px;
  }
  .four br {
    display: none;
  }

  .five {
    height: 770px;
  }
  .five__container {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
  }
  .five__title {
    padding-left: 0px;
    margin: 0px 0 0 10px;
  }
  .five__title::before {
    content: "";
    display: none;
  }
  .five__text {
    margin: 10px 0 0 10px;
    padding-left: 0px;
    text-align: center;
  }
  .five__text br {
    display: none;
  }
  .five__bottom {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0;
  }
  .five__girle {
    display: none;
  }

  .form {
    flex-direction: column;
  }
  .form__submit {
    margin: 20px 0px 0px 25px;
  }
  .form input {
    margin: 0px 0px 0px 25px;
  }
  .form__title {
    font-family: Roboto;
    font-size: 14px;
    line-height: 36px;
    font-weight: 400;
    color: #282828;
    margin: 3px 0px 0px 25px;
  }
  .form__right {
    margin-left: 28px;
  }
  .form__message-title {
    margin: 0px;
  }
  .form__message {
    width: 264px;
    height: 150px;
    margin: 0px 0px 0px -2px;
  }

  .six {
    height: 550px;
  }
  .six__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .six__columns {
    margin-top: 10px;
  }
  .six__galochka {
    width: 30px;
    height: 30px;
    margin-bottom: -7px;
  }
  .six__title {
    line-height: 20px;
    width: 220px;
  }
  .six__text {
    line-height: 20px;
    width: 220px;
  }
  .six__column-1 {
    margin-top: 16px;
  }

  .seven {
    font-family: Roboto;
    height: 1400px;
    width: 100%;
    background-color: #f9f9f9;
  }
  .seven__container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
  }
  .seven__title {
    padding-left: 0px;
    margin: 0 0 0 45px;
  }
  .seven__title::before {
    content: "";
    display: none;
  }
  .seven__text {
    margin: 15px 0px 0px 20px;
    text-align: center;
    width: 270px;
  }
  .seven__column-1 {
    padding: 0px 5px 47px 10px;
    width: 300px;
    height: 425px;
    margin: 30px 0px 0px 7px;
  }
  .seven__column-1 br {
    display: none;
  }
  .seven__slide {
    bottom: 745px;
    right: 10px;
  }
  .seven__right-columns {
    flex-direction: column;
  }
  .seven__vse-usluge {
    width: 160px;
    height: 40px;
    top: 565px;
    right: 152px;
  }
  .seven__right {
    margin-bottom: 25px;
    min-height: 700px;
  }
  .seven__column-3 {
    position: relative;
    top: 30px;
  }

  .column-1 {
    height: 412px;
  }
  .column-1__derector {
    margin: 10px 0px 0px 0px;
  }

  .columns-right {
    margin: 0px 0px 0px 27px;
  }

  .eight {
    height: 570px;
  }
  .eight__container {
    padding: 6px 6px 6px 6px;
  }
  .eight__title {
    font-size: 15px;
    margin: 0px 0px 0px 6px;
  }
  .eight__text {
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
  .eight__text br {
    display: none;
  }
  .eight__becpl-Consul {
    margin: 24px 0px 0px 20px;
  }
  .eight__contacts {
    margin: 7px 0px 0px 20px;
  }

  .map {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    left: 33px;
  }

  .footer__prava {
    text-align: center;
  }
}
